#site-header {
    background-color: #b05504;
    margin: 0%;
    padding: 1% 3% 1% 3%;
}

.brand a {
    color: white;
}

#site-links a {
    color: white;
    text-decoration: none;
}

#site-links a:hover {
    color: beige;
    text-decoration: none;
}

.nav-item .active {
    color: beige;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    max-width: 500px;
}

.row {
    margin: 0% 2% 0% 2%;
}

#homeExtraInfo {
    margin-top: 2.5em;
}
.page-content {
    padding: 1em 5em 1em 5em;
}
.content {
    padding: 1em 5em 1em 5em;
}

h2 {
    text-align: center;
}
footer {
    background-color: #b05504;
    height: 4em;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 1em;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}