#site-header {
    background-color: #b05504;
}
.brand a {
    color:white;
}

.site-links a:link {
    color:white;
    text-decoration: none;
}

.site-links a:hover {
    color:beige; 
    text-decoration: none;
}